---
---

@import "{{ site.theme }}";

thead {
  background-color: #0ae;
  color: black;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

tbody tr:hover {
  border-top: 2pt solid #0ae;
  border-bottom: 2pt solid #0ae; 
}
